i.flag:not(.icon) {
  display: inline-block;
  width: 16px;
  height: 11px;
  line-height: 11px;
  vertical-align: baseline;
  margin: 0 .5em 0 0;
  text-decoration: inherit;
  speak: none;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

i.flag:not(.icon) {
  display: inline-block;
  width: 16px;
  height: 11px;
  line-height: 11px;
  vertical-align: baseline;
  margin: 0 .5em 0 0;
  text-decoration: inherit;
  speak: none;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

i.flag:not(.icon):before {
  display: inline-block;
  content: '';
  background: url('../images/flags.png') no-repeat -108px -1976px;
  width: 16px;
  height: 11px
}

i.flag.ad:before, i.flag.andorra:before {
  background-position: 0 0
}

i.flag.ae:before, i.flag.uae:before, i.flag.united.arab.emirates:before {
  background-position: 0 -26px
}

i.flag.af:before, i.flag.afghanistan:before {
  background-position: 0 -52px
}

i.flag.ag:before, i.flag.antigua:before {
  background-position: 0 -78px
}

i.flag.ai:before, i.flag.anguilla:before {
  background-position: 0 -104px
}

i.flag.al:before, i.flag.albania:before {
  background-position: 0 -130px
}

i.flag.am:before, i.flag.armenia:before {
  background-position: 0 -156px
}

i.flag.an:before, i.flag.netherlands.antilles:before {
  background-position: 0 -182px
}

i.flag.angola:before, i.flag.ao:before {
  background-position: 0 -208px
}

i.flag.ar:before, i.flag.argentina:before {
  background-position: 0 -234px
}

i.flag.american.samoa:before, i.flag.as:before {
  background-position: 0 -260px
}

i.flag.at:before, i.flag.austria:before {
  background-position: 0 -286px
}

i.flag.au:before, i.flag.australia:before {
  background-position: 0 -312px
}

i.flag.aruba:before, i.flag.aw:before {
  background-position: 0 -338px
}

i.flag.aland.islands:before, i.flag.ax:before {
  background-position: 0 -364px
}

i.flag.az:before, i.flag.azerbaijan:before {
  background-position: 0 -390px
}

i.flag.ba:before, i.flag.bosnia:before {
  background-position: 0 -416px
}

i.flag.barbados:before, i.flag.bb:before {
  background-position: 0 -442px
}

i.flag.bangladesh:before, i.flag.bd:before {
  background-position: 0 -468px
}

i.flag.be:before, i.flag.belgium:before {
  background-position: 0 -494px
}

i.flag.bf:before, i.flag.burkina.faso:before {
  background-position: 0 -520px
}

i.flag.bg:before, i.flag.bulgaria:before {
  background-position: 0 -546px
}

i.flag.bahrain:before, i.flag.bh:before {
  background-position: 0 -572px
}

i.flag.bi:before, i.flag.burundi:before {
  background-position: 0 -598px
}

i.flag.benin:before, i.flag.bj:before {
  background-position: 0 -624px
}

i.flag.bermuda:before, i.flag.bm:before {
  background-position: 0 -650px
}

i.flag.bn:before, i.flag.brunei:before {
  background-position: 0 -676px
}

i.flag.bo:before, i.flag.bolivia:before {
  background-position: 0 -702px
}

i.flag.br:before, i.flag.brazil:before {
  background-position: 0 -728px
}

i.flag.bahamas:before, i.flag.bs:before {
  background-position: 0 -754px
}

i.flag.bhutan:before, i.flag.bt:before {
  background-position: 0 -780px
}

i.flag.bouvet.island:before, i.flag.bv:before {
  background-position: 0 -806px
}

i.flag.botswana:before, i.flag.bw:before {
  background-position: 0 -832px
}

i.flag.belarus:before, i.flag.by:before {
  background-position: 0 -858px
}

i.flag.belize:before, i.flag.bz:before {
  background-position: 0 -884px
}

i.flag.ca:before, i.flag.canada:before {
  background-position: 0 -910px
}

i.flag.cc:before, i.flag.cocos.islands:before {
  background-position: 0 -962px
}

i.flag.cd:before, i.flag.congo:before {
  background-position: 0 -988px
}

i.flag.central.african.republic:before, i.flag.cf:before {
  background-position: 0 -1014px
}

i.flag.cg:before, i.flag.congo.brazzaville:before {
  background-position: 0 -1040px
}

i.flag.ch:before, i.flag.switzerland:before {
  background-position: 0 -1066px
}

i.flag.ci:before, i.flag.cote.divoire:before {
  background-position: 0 -1092px
}

i.flag.ck:before, i.flag.cook.islands:before {
  background-position: 0 -1118px
}

i.flag.chile:before, i.flag.cl:before {
  background-position: 0 -1144px
}

i.flag.cameroon:before, i.flag.cm:before {
  background-position: 0 -1170px
}

i.flag.china:before, i.flag.cn:before {
  background-position: 0 -1196px
}

i.flag.co:before, i.flag.colombia:before {
  background-position: 0 -1222px
}

i.flag.costa.rica:before, i.flag.cr:before {
  background-position: 0 -1248px
}

i.flag.cs:before, i.flag.serbia:before {
  background-position: 0 -1274px
}

i.flag.cu:before, i.flag.cuba:before {
  background-position: 0 -1300px
}

i.flag.cape.verde:before, i.flag.cv:before {
  background-position: 0 -1326px
}

i.flag.christmas.island:before, i.flag.cx:before {
  background-position: 0 -1352px
}

i.flag.cy:before, i.flag.cyprus:before {
  background-position: 0 -1378px
}

i.flag.cz:before, i.flag.czech.republic:before {
  background-position: 0 -1404px
}

i.flag.de:before, i.flag.germany:before {
  background-position: 0 -1430px
}

i.flag.dj:before, i.flag.djibouti:before {
  background-position: 0 -1456px
}

i.flag.denmark:before, i.flag.dk:before {
  background-position: 0 -1482px
}

i.flag.dm:before, i.flag.dominica:before {
  background-position: 0 -1508px
}

i.flag.do:before, i.flag.dominican.republic:before {
  background-position: 0 -1534px
}

i.flag.algeria:before, i.flag.dz:before {
  background-position: 0 -1560px
}

i.flag.ec:before, i.flag.ecuador:before {
  background-position: 0 -1586px
}

i.flag.ee:before, i.flag.estonia:before {
  background-position: 0 -1612px
}

i.flag.eg:before, i.flag.egypt:before {
  background-position: 0 -1638px
}

i.flag.eh:before, i.flag.western.sahara:before {
  background-position: 0 -1664px
}

i.flag.er:before, i.flag.eritrea:before {
  background-position: 0 -1716px
}

i.flag.es:before, i.flag.spain:before {
  background-position: 0 -1742px
}

i.flag.et:before, i.flag.ethiopia:before {
  background-position: 0 -1768px
}

i.flag.eu:before, i.flag.european.union:before {
  background-position: 0 -1794px
}

i.flag.fi:before, i.flag.finland:before {
  background-position: 0 -1846px
}

i.flag.fiji:before, i.flag.fj:before {
  background-position: 0 -1872px
}

i.flag.falkland.islands:before, i.flag.fk:before {
  background-position: 0 -1898px
}

i.flag.fm:before, i.flag.micronesia:before {
  background-position: 0 -1924px
}

i.flag.faroe.islands:before, i.flag.fo:before {
  background-position: 0 -1950px
}

i.flag.fr:before, i.flag.france:before {
  background-position: 0 -1976px
}

i.flag.ga:before, i.flag.gabon:before {
  background-position: -36px 0
}

i.flag.gb:before, i.flag.united.kingdom:before {
  background-position: -36px -26px
}

i.flag.gd:before, i.flag.grenada:before {
  background-position: -36px -52px
}

i.flag.ge:before, i.flag.georgia:before {
  background-position: -36px -78px
}

i.flag.french.guiana:before, i.flag.gf:before {
  background-position: -36px -104px
}

i.flag.gh:before, i.flag.ghana:before {
  background-position: -36px -130px
}

i.flag.gi:before, i.flag.gibraltar:before {
  background-position: -36px -156px
}

i.flag.gl:before, i.flag.greenland:before {
  background-position: -36px -182px
}

i.flag.gambia:before, i.flag.gm:before {
  background-position: -36px -208px
}

i.flag.gn:before, i.flag.guinea:before {
  background-position: -36px -234px
}

i.flag.gp:before, i.flag.guadeloupe:before {
  background-position: -36px -260px
}

i.flag.equatorial.guinea:before, i.flag.gq:before {
  background-position: -36px -286px
}

i.flag.gr:before, i.flag.greece:before {
  background-position: -36px -312px
}

i.flag.gs:before, i.flag.sandwich.islands:before {
  background-position: -36px -338px
}

i.flag.gt:before, i.flag.guatemala:before {
  background-position: -36px -364px
}

i.flag.gu:before, i.flag.guam:before {
  background-position: -36px -390px
}

i.flag.guinea-bissau:before, i.flag.gw:before {
  background-position: -36px -416px
}

i.flag.guyana:before, i.flag.gy:before {
  background-position: -36px -442px
}

i.flag.hk:before, i.flag.hong.kong:before {
  background-position: -36px -468px
}

i.flag.heard.island:before, i.flag.hm:before {
  background-position: -36px -494px
}

i.flag.hn:before, i.flag.honduras:before {
  background-position: -36px -520px
}

i.flag.croatia:before, i.flag.hr:before {
  background-position: -36px -546px
}

i.flag.haiti:before, i.flag.ht:before {
  background-position: -36px -572px
}

i.flag.hu:before, i.flag.hungary:before {
  background-position: -36px -598px
}

i.flag.id:before, i.flag.indonesia:before {
  background-position: -36px -624px
}

i.flag.ie:before, i.flag.ireland:before {
  background-position: -36px -650px
}

i.flag.il:before, i.flag.israel:before {
  background-position: -36px -676px
}

i.flag.in:before, i.flag.india:before {
  background-position: -36px -702px
}

i.flag.indian.ocean.territory:before, i.flag.io:before {
  background-position: -36px -728px
}

i.flag.iq:before, i.flag.iraq:before {
  background-position: -36px -754px
}

i.flag.ir:before, i.flag.iran:before {
  background-position: -36px -780px
}

i.flag.iceland:before, i.flag.is:before {
  background-position: -36px -806px
}

i.flag.it:before, i.flag.italy:before {
  background-position: -36px -832px
}

i.flag.jamaica:before, i.flag.jm:before {
  background-position: -36px -858px
}

i.flag.jo:before, i.flag.jordan:before {
  background-position: -36px -884px
}

i.flag.japan:before, i.flag.jp:before {
  background-position: -36px -910px
}

i.flag.ke:before, i.flag.kenya:before {
  background-position: -36px -936px
}

i.flag.kg:before, i.flag.kyrgyzstan:before {
  background-position: -36px -962px
}

i.flag.cambodia:before, i.flag.kh:before {
  background-position: -36px -988px
}

i.flag.ki:before, i.flag.kiribati:before {
  background-position: -36px -1014px
}

i.flag.comoros:before, i.flag.km:before {
  background-position: -36px -1040px
}

i.flag.kn:before, i.flag.saint.kitts.and.nevis:before {
  background-position: -36px -1066px
}

i.flag.kp:before, i.flag.north.korea:before {
  background-position: -36px -1092px
}

i.flag.kr:before, i.flag.south.korea:before {
  background-position: -36px -1118px
}

i.flag.kuwait:before, i.flag.kw:before {
  background-position: -36px -1144px
}

i.flag.cayman.islands:before, i.flag.ky:before {
  background-position: -36px -1170px
}

i.flag.kazakhstan:before, i.flag.kz:before {
  background-position: -36px -1196px
}

i.flag.la:before, i.flag.laos:before {
  background-position: -36px -1222px
}

i.flag.lb:before, i.flag.lebanon:before {
  background-position: -36px -1248px
}

i.flag.lc:before, i.flag.saint.lucia:before {
  background-position: -36px -1274px
}

i.flag.li:before, i.flag.liechtenstein:before {
  background-position: -36px -1300px
}

i.flag.lk:before, i.flag.sri.lanka:before {
  background-position: -36px -1326px
}

i.flag.liberia:before, i.flag.lr:before {
  background-position: -36px -1352px
}

i.flag.lesotho:before, i.flag.ls:before {
  background-position: -36px -1378px
}

i.flag.lithuania:before, i.flag.lt:before {
  background-position: -36px -1404px
}

i.flag.lu:before, i.flag.luxembourg:before {
  background-position: -36px -1430px
}

i.flag.latvia:before, i.flag.lv:before {
  background-position: -36px -1456px
}

i.flag.libya:before, i.flag.ly:before {
  background-position: -36px -1482px
}

i.flag.ma:before, i.flag.morocco:before {
  background-position: -36px -1508px
}

i.flag.mc:before, i.flag.monaco:before {
  background-position: -36px -1534px
}

i.flag.md:before, i.flag.moldova:before {
  background-position: -36px -1560px
}

i.flag.me:before, i.flag.montenegro:before {
  background-position: -36px -1586px
}

i.flag.madagascar:before, i.flag.mg:before {
  background-position: -36px -1613px
}

i.flag.marshall.islands:before, i.flag.mh:before {
  background-position: -36px -1639px
}

i.flag.macedonia:before, i.flag.mk:before {
  background-position: -36px -1665px
}

i.flag.mali:before, i.flag.ml:before {
  background-position: -36px -1691px
}

i.flag.burma:before, i.flag.mm:before, i.flag.myanmar:before {
  background-position: -73px -1821px
}

i.flag.mn:before, i.flag.mongolia:before {
  background-position: -36px -1743px
}

i.flag.macau:before, i.flag.mo:before {
  background-position: -36px -1769px
}

i.flag.mp:before, i.flag.northern.mariana.islands:before {
  background-position: -36px -1795px
}

i.flag.martinique:before, i.flag.mq:before {
  background-position: -36px -1821px
}

i.flag.mauritania:before, i.flag.mr:before {
  background-position: -36px -1847px
}

i.flag.montserrat:before, i.flag.ms:before {
  background-position: -36px -1873px
}

i.flag.malta:before, i.flag.mt:before {
  background-position: -36px -1899px
}

i.flag.mauritius:before, i.flag.mu:before {
  background-position: -36px -1925px
}

i.flag.maldives:before, i.flag.mv:before {
  background-position: -36px -1951px
}

i.flag.malawi:before, i.flag.mw:before {
  background-position: -36px -1977px
}

i.flag.mexico:before, i.flag.mx:before {
  background-position: -72px 0
}

i.flag.malaysia:before, i.flag.my:before {
  background-position: -72px -26px
}

i.flag.mozambique:before, i.flag.mz:before {
  background-position: -72px -52px
}

i.flag.na:before, i.flag.namibia:before {
  background-position: -72px -78px
}

i.flag.nc:before, i.flag.new.caledonia:before {
  background-position: -72px -104px
}

i.flag.ne:before, i.flag.niger:before {
  background-position: -72px -130px
}

i.flag.nf:before, i.flag.norfolk.island:before {
  background-position: -72px -156px
}

i.flag.ng:before, i.flag.nigeria:before {
  background-position: -72px -182px
}

i.flag.ni:before, i.flag.nicaragua:before {
  background-position: -72px -208px
}

i.flag.netherlands:before, i.flag.nl:before {
  background-position: -72px -234px
}

i.flag.no:before, i.flag.norway:before {
  background-position: -72px -260px
}

i.flag.nepal:before, i.flag.np:before {
  background-position: -72px -286px
}

i.flag.nauru:before, i.flag.nr:before {
  background-position: -72px -312px
}

i.flag.niue:before, i.flag.nu:before {
  background-position: -72px -338px
}

i.flag.new.zealand:before, i.flag.nz:before {
  background-position: -72px -364px
}

i.flag.om:before, i.flag.oman:before {
  background-position: -72px -390px
}

i.flag.pa:before, i.flag.panama:before {
  background-position: -72px -416px
}

i.flag.pe:before, i.flag.peru:before {
  background-position: -72px -442px
}

i.flag.french.polynesia:before, i.flag.pf:before {
  background-position: -72px -468px
}

i.flag.new.guinea:before, i.flag.pg:before {
  background-position: -72px -494px
}

i.flag.ph:before, i.flag.philippines:before {
  background-position: -72px -520px
}

i.flag.pakistan:before, i.flag.pk:before {
  background-position: -72px -546px
}

i.flag.pl:before, i.flag.poland:before {
  background-position: -72px -572px
}

i.flag.pm:before, i.flag.saint.pierre:before {
  background-position: -72px -598px
}

i.flag.pitcairn.islands:before, i.flag.pn:before {
  background-position: -72px -624px
}

i.flag.pr:before, i.flag.puerto.rico:before {
  background-position: -72px -650px
}

i.flag.palestine:before, i.flag.ps:before {
  background-position: -72px -676px
}

i.flag.portugal:before, i.flag.pt:before {
  background-position: -72px -702px
}

i.flag.palau:before, i.flag.pw:before {
  background-position: -72px -728px
}

i.flag.paraguay:before, i.flag.py:before {
  background-position: -72px -754px
}

i.flag.qa:before, i.flag.qatar:before {
  background-position: -72px -780px
}

i.flag.re:before, i.flag.reunion:before {
  background-position: -72px -806px
}

i.flag.ro:before, i.flag.romania:before {
  background-position: -72px -832px
}

i.flag.rs:before, i.flag.serbia:before {
  background-position: -72px -858px
}

i.flag.ru:before, i.flag.russia:before {
  background-position: -72px -884px
}

i.flag.rw:before, i.flag.rwanda:before {
  background-position: -72px -910px
}

i.flag.sa:before, i.flag.saudi.arabia:before {
  background-position: -72px -936px
}

i.flag.sb:before, i.flag.solomon.islands:before {
  background-position: -72px -962px
}

i.flag.sc:before, i.flag.seychelles:before {
  background-position: -72px -988px
}

i.flag.gb.sct:before, i.flag.scotland:before {
  background-position: -72px -1014px
}

i.flag.sd:before, i.flag.sudan:before {
  background-position: -72px -1040px
}

i.flag.se:before, i.flag.sweden:before {
  background-position: -72px -1066px
}

i.flag.sg:before, i.flag.singapore:before {
  background-position: -72px -1092px
}

i.flag.saint.helena:before, i.flag.sh:before {
  background-position: -72px -1118px
}

i.flag.si:before, i.flag.slovenia:before {
  background-position: -72px -1144px
}

i.flag.jan.mayen:before, i.flag.sj:before, i.flag.svalbard:before {
  background-position: -72px -1170px
}

i.flag.sk:before, i.flag.slovakia:before {
  background-position: -72px -1196px
}

i.flag.sierra.leone:before, i.flag.sl:before {
  background-position: -72px -1222px
}

i.flag.san.marino:before, i.flag.sm:before {
  background-position: -72px -1248px
}

i.flag.senegal:before, i.flag.sn:before {
  background-position: -72px -1274px
}

i.flag.so:before, i.flag.somalia:before {
  background-position: -72px -1300px
}

i.flag.sr:before, i.flag.suriname:before {
  background-position: -72px -1326px
}

i.flag.sao.tome:before, i.flag.st:before {
  background-position: -72px -1352px
}

i.flag.el.salvador:before, i.flag.sv:before {
  background-position: -72px -1378px
}

i.flag.sy:before, i.flag.syria:before {
  background-position: -72px -1404px
}

i.flag.swaziland:before, i.flag.sz:before {
  background-position: -72px -1430px
}

i.flag.caicos.islands:before, i.flag.tc:before {
  background-position: -72px -1456px
}

i.flag.chad:before, i.flag.td:before {
  background-position: -72px -1482px
}

i.flag.french.territories:before, i.flag.tf:before {
  background-position: -72px -1508px
}

i.flag.tg:before, i.flag.togo:before {
  background-position: -72px -1534px
}

i.flag.th:before, i.flag.thailand:before {
  background-position: -72px -1560px
}

i.flag.tajikistan:before, i.flag.tj:before {
  background-position: -72px -1586px
}

i.flag.tk:before, i.flag.tokelau:before {
  background-position: -72px -1612px
}

i.flag.timorleste:before, i.flag.tl:before {
  background-position: -72px -1638px
}

i.flag.tm:before, i.flag.turkmenistan:before {
  background-position: -72px -1664px
}

i.flag.tn:before, i.flag.tunisia:before {
  background-position: -72px -1690px
}

i.flag.to:before, i.flag.tonga:before {
  background-position: -72px -1716px
}

i.flag.tr:before, i.flag.turkey:before {
  background-position: -72px -1742px
}

i.flag.trinidad:before, i.flag.tt:before {
  background-position: -72px -1768px
}

i.flag.tuvalu:before, i.flag.tv:before {
  background-position: -72px -1794px
}

i.flag.taiwan:before, i.flag.tw:before {
  background-position: -72px -1820px
}

i.flag.tanzania:before, i.flag.tz:before {
  background-position: -72px -1846px
}

i.flag.ua:before, i.flag.ukraine:before {
  background-position: -72px -1872px
}

i.flag.ug:before, i.flag.uganda:before {
  background-position: -72px -1898px
}

i.flag.um:before, i.flag.us.minor.islands:before {
  background-position: -72px -1924px
}

i.flag.america:before, i.flag.united.states:before, i.flag.us:before {
  background-position: -72px -1950px
}

i.flag.uruguay:before, i.flag.uy:before {
  background-position: -72px -1976px
}

i.flag.uz:before, i.flag.uzbekistan:before {
  background-position: -108px 0
}

i.flag.va:before, i.flag.vatican.city:before {
  background-position: -108px -26px
}

i.flag.saint.vincent:before, i.flag.vc:before {
  background-position: -108px -52px
}

i.flag.ve:before, i.flag.venezuela:before {
  background-position: -108px -78px
}

i.flag.british.virgin.islands:before, i.flag.vg:before {
  background-position: -108px -104px
}

i.flag.us.virgin.islands:before, i.flag.vi:before {
  background-position: -108px -130px
}

i.flag.vietnam:before, i.flag.vn:before {
  background-position: -108px -156px
}

i.flag.vanuatu:before, i.flag.vu:before {
  background-position: -108px -182px
}

i.flag.gb.wls:before, i.flag.wales:before {
  background-position: -108px -208px
}

i.flag.wallis.and.futuna:before, i.flag.wf:before {
  background-position: -108px -234px
}

i.flag.samoa:before, i.flag.ws:before {
  background-position: -108px -260px
}

i.flag.ye:before, i.flag.yemen:before {
  background-position: -108px -286px
}

i.flag.mayotte:before, i.flag.yt:before {
  background-position: -108px -312px
}

i.flag.south.africa:before, i.flag.za:before {
  background-position: -108px -338px
}

i.flag.zambia:before, i.flag.zm:before {
  background-position: -108px -364px
}

i.flag.zimbabwe:before, i.flag.zw:before {
  background-position: -108px -390px
}
