
@import '../variables.css';


.icons {
  display: inline-block;
  width: 128px;
  height: 564px;
  overflow: hidden;
  will-change: backgroundPosition;
  transition: 0.3s background-position ease-in-out;
  padding: 0 80px;
  transform: translateZ(0);
}

.icons:nth-child(2) {
  margin: 0 10px;
}
