/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px 0;
}

.newsItem {
  margin: 0 0 2rem;
}

.newsTitle {
  font-size: 1.5rem;
}

.newsDesc h1,
.newsDesc h2,
.newsDesc h3,
.newsDesc h4,
.newsDesc h5,
.newsDesc h6 {
  font-size: 1.125rem;
}

.newsDesc pre {
  white-space: pre-wrap;
  font-size: 0.875rem;
}

.newsDesc img {
  max-width: 100%;
}
