/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../variables.css';

.logo{
  margin: 15px;
  display: none;
}

.topHead {
  padding: 15px;

}

.topHead a{
}

:global(.ant-layout-sider-collapsed .topHead){
  display: none;
}

:global(.ant-layout-sider-collapsed .logo){
  display: block;
}