/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../../components/variables.css';
@import url('https://fonts.googleapis.com/css?family=Cairo');

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

.container {
  background-color: #292929;
  min-height: 800px;
  position: relative;
}

.spinnerContainer {
  transform: translate(-50%, -50%) scale(.55, .55);
}
.repeatButton {
  appearance: none;
  border: none;
  background-size: cover;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  animation: 6s linear infinite spin;
}

.title {
  font-size: 150%;
  padding: 0.25em .5em;
  font-family: 'Cairo', sans-serif;
}

.title span {
  color: aliceblue;
  border: 1px solid hsla(208, 100%, 97.1%, .2);
  padding: 0.1em .2em;
}

* { box-sizing: border-box; }

.spinnerContainer {
  overflow: hidden;
  height: 632px;
  padding: 2em;
  transform: translate(-50%, -50%) scale(.62, .62);
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transition: 0.3s transform;
}

.app-wrap.winner-false {
  animation: linear 1s spin;
}

.spinnerContainer::after {
  position: absolute;
  content: '';
  display: block;
  height: 180px;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  left: 30px;
  background: rgba(255, 0, 0, .1);
}

.gradientFade {
  position: absolute;
  top: 32px;
  right: 32px;
  bottom: 32px;
  left: 32px;
  background: linear-gradient(
          to bottom,
          rgba(64,64,64,1) 0%,
          rgba(64,64,64,0) 7%,
          rgba(64,64,64,0) 93%,
          rgba(64,64,64,1) 100%
  );
}
.icons1{
  background: #fff url("/images/sprite1.png") repeat-y;
}
.icons2{
  background: #fff url("/images/sprite2.png") repeat-y;
}
.icons3{
  background: #fff url("/images/sprite3.png") repeat-y;
}

