/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eee;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.logo {
  width: 100%;
  fill: #25262a;
  margin-bottom: 40px;
}

.loginForm {
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 10px;
  right: 50%;
  top: 50%;
  margin-right: -200px;
  margin-top: -200px;
  box-shadow: 0 0 15px #999;
}

.loginFormButton {
  width: 100%;
}

.topTitle {
  background-color: #25262a;
  height: 50px;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.holder{
  padding: 25px 50px 40px;
  width: 300px;
  box-sizing:  content-box;
}

:global(.ant-btn-primary){
  background-color: #25262a;
  border-color: transparent;
}